@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #f8fafc;
}

/* Evitar que se vea blanco mientras carga React */
#root:empty {
    background: #020617;
    height: 100vh;
}
